
body {
    background-color: #000000;
    color: white;
    padding: 40px;
    font-family: "Roboto Condensed", Sans-Serif;
    text-align: left;
  }

td {
    text-align: center;
  }
thead {
    text-align: center;
  }
nav{
  height: 50px;
  font-family:"Roboto Condensed";
 
}
.navbar-brand img {
  width: 40 px;
  height: 40 px;
  margin-right: 15 px;
}
img {
  min-width: 100%;
  padding: 40px;
}

