body {
  background-color: #000000;
  color: white;
  padding: 40px;
  font-family: "Roboto Condensed", Sans-Serif;
  text-align: left;
}

td {
  text-align: center;
}

nav {
  font-family: "Roboto Condensed";
  overflow: hidden;
}

.Header-img {
  background-image: url("/images/headers.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
}

.card {
  width: 18rem;
  background-color: black;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-body {
  color: white;
  /* példa szövegszín */
}

.logo-img {
  height: 40;
  width: 70;
}