
body {
    background-color: #000000;
    color: white;
    padding: 40px;
    font-family: "Roboto Condensed", Sans-Serif;
    text-align: left;
  }

td {
    text-align: center;
  }
thead {
    text-align: center;
  }
nav{
  font-family:"Roboto Condensed";
}

  
